@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1A202C;
}
::-webkit-scrollbar-thumb {
  background: #E53E3E;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C53030;
}